/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.*.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
*.sublime-project
*.sublime-workspace
.DS_Store

# Laravel Telescope
storage/telescope